<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet">
  <title>Edit note</title>
</head>
<body>
<div class="container">
    <div class="row pt-4 mb-4 text-center">
        <h1 th:text="'Edit note: ' + ${editNote.title}"></h1>
    </div>
    <div class="row pt-4 mb-4 justify-content-center">
        <div class="col-8">
            <form th:action="@{/note/edit}" method="post" class="edit-note-form px-5">
                <div class="mb-3">
                    <label for="title">Title</label>
                    <input class="form-control" name="title" id="title" th:value="${editNote.title}" required>
                </div>
                <div class="mb-3">
                    <label for="content">Content</label>
                    <textarea class="form-control" rows="5" name="content" id="content" th:text="${editNote.content}" required></textarea>
                </div>
                <div class="d-grid justify-content-md-end">
                    <input type="hidden" name="id" th:value="${editNote?.id}">
                    <button type="submit" class="btn btn-outline-success">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>